#.DS_Store
#.idea
#__pycache__/
#frontend
#migrations
#store
#dist
#*.py[cod]
#*$py.class

**/*.zip
**/*.rar
*.log
*.out

# megascho_backend/megascho_backend/settings.py

my_django/logging/**
my_django/uwsgi.ini
my_django/store/**

upload/
demo/results/step1_release_model
demo/results/step2_release_model
demo/image
demo/db.sqlite3
